*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

.AccountSetting-body {
    background-color:#F8F9FB;
}

.AccountSetting-container {
    width: 80%;
    display:flex;
    justify-content: center;
    margin:5% auto;

}

.AccountSetting-nav-container {
    box-shadow: 0 4px 4px rgb(0 0 0/0.25);
    width:200px;
    height:30%;
    background-color: white;
}

.AccountSetting-nav-container nav {
    display:flex;
    justify-content:center;
    align-items:center;
    height:100%;

    line-height:50px;
}

.AccountSetting-container nav ul {
    text-align:left;
    width:100%;
}

.AccountSetting-container nav ul li {
    border-bottom:3px solid white;
    padding-left:20px;
    list-style:none;
}

.AccountSetting-container nav ul li:hover {
    cursor:pointer;
    border-bottom:3px solid rgba(200, 28, 28, 1);
    transition-duration:0.3s;
}

.AccountSetting-rightPart-container {
    margin-left: 30px;
    display:flex;
    flex-wrap: wrap;
    width:80%;
}

.AccountSetting-header-container {
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    width:100%;
    box-shadow: 0 4px 4px rgb(0 0 0/0.25);
    height:80px;
    background-color: white;
}

.AccountSetting-page-header {
    margin-left:30px;
    width:35%;
    display:flex;
    justify-content: center;
    align-items:center;
    height:100%;
    border-bottom: 3px solid rgba(200, 28, 28, 1);
}

.AccountSetting-content-container {
    margin-top:30px;
    height:900px;
    width:100%;
    padding: 40px 0px;
    box-shadow: 0 4px 4px rgb(0 0 0/0.25);
    background-color:white;
}
.AccountSetting-content-container form {
    display:flex;
    flex-direction:column;
    justify-content: space-around;
    height:100%;
}
.AccountSetting-inputField {
    margin-left:100px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height:200px;
}
.AccountSetting-inputField div{
    width: 80%;
}

.AccountSetting-inputField div span{
    display:inline-block;
    font-size: 1.1rem;
    width:30%;
}

.AccountSetting-inputField div input{
    margin-left: 15px;
    width:50%;
    height: 40px;
    border: 1px solid #A3A3A4;
    border-radius: 5px;
    padding: 0 20px;
}

#AccountSetting-feedback {
	display:flex;
	opacity:0;
	transition:0.2s;
	justify-content: center;
	align-items:center;
	font-size:30px;
	width:80%;
	color: white;
}

#AccountSetting-feedback i{
	margin-right: 20px;
}

.AccountSetting-text-container input{
    height:40%;
    width:150%;
    border: 1px solid #A3A3A4;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 0px 20px;
}

.AccountSetting-resend-button {
	margin-top: 5px;
	background-color: #00aeff;
	border:none;
	border-radius:5px;
	cursor:pointer;
	color: white;
	width:60%;
	height:30%;
}

.AccountSetting-resend-button:hover {
	background-color: rgba(200, 28, 28, 1);
	transition:0.2s;
}

.AccountSetting-text-container input:focus {
    outline-color: #A97DFF;
}

.AccountSetting-inputField div input:focus{
    outline-color: #A97DFF;
}

.AccountSetting-content-container p{
    border-left:3px solid rgba(200, 28, 28, 1);
    padding-left:3px;
    margin-left: 100px;
    font-size: 1.2rem;
}

.AccountSetting-img-container {
    display:flex;
	height:200px;
    justify-content:space-around;
    align-items: center;
    margin-left: 100px;
}

.AccountSetting-img-container .AccountSetting-img1 {
    width:180px;
    object-fit: contain;
}

.AccountSetting-img-container .AccountSetting-img2 {
    width: 150px;
    object-fit: contain;
}

#AccountSetting-Email-feedback {
	margin-top: 10px;
	display:flex;
	/*opacity:0;*/
	transition:0.2s;
	justify-content: center;
	align-items:center;
	font-size:30px;
	width:100%;
	color: white;
}

.AccountSetting-text-container {
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    margin-right: 100px;
    height:100%;
}

.AccountSetting-text-container p{
    border:0px;
    padding:0px;
    margin:0px;
    margin-bottom: 20px;
}

.AccountSetting-img-container a {
    text-decoration: none;
    color:#5375EB;
}

.AccountSetting-button-container {
    text-align: center;
    height: 50px;
}

.AccountSetting-button-container input {
    height:100%;
    width:130px;
    border:none;
    text-decoration: none;
    font-size:16px;
    color:white;
    cursor:pointer;
    background-color: rgba(200, 28, 28, 1); /*#f44336;*/
    border-radius: 10px;
}

.AccountSetting-button-container input:hover{
    opacity: 0.5;
    color: white;
}

