* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.Login-big-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.Login-container {
width: 450px;
height: 550px;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}
.Login-container h2{
  align-self: flex-start;
  height: 50px;
}

.Login-container1 {
width: 100%;
height: 90%;
border-bottom: 1px solid black;
border-top: 1px solid black;
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;
}
.Login-container1 div{
  width: 100%;
}



.Login-Login {
width: 50%;
height: 2.5em; /* 70px */
background-color: rgba(200, 28, 28, 1);
border-radius: 16px; /* 20px */
font-size: 20px;
color: white;
/* text-align: center; */
/* border: 1px solid #ced4da; */
border: none;
cursor: pointer;

}

.Login-Login:hover {
  opacity: 0.5;
  color: white;
}

.Login-form-control {
width: 100%;
height: 3em; /* 70px*/
padding: 5px 20px;
font-size: 18px; /* 20px */
background: rgba(196, 196, 196, 0.4);
border-radius: 15px; /*20px*/
/* border: 1px solid #ced4da; */
border: none;
margin-top: 1em;
/* margin-bottom: 1.5em; */
}

.Login-form-group-container1{
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* .Login-form-control:focus {
color: #495057;
background-color: #fff;
border-color: #80bdff;
outline: 0;
box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
} */

.Login-Label input {
  width: 20px;
  height: 20px;
  margin-top: 1em;
  margin-bottom: 1em;
}

.Login-Link {
color: rgba(200, 28, 28, 1);
font-size: 16px;
}

.Login-Link:hover{
  text-decoration: underline;
}

.Login-Signup{
  font-size: 16px;
  color:rgba(200, 28, 28, 1);
  padding-top: 0.3em;
}

.Login-Signup:hover{
  text-decoration: underline;
}


.Login-container2{
  display:block;
  margin-top: 5px;
}
.login-google{
  width: 150px;
}
.g-recaptcha{
  margin-left: 150px;
  margin-bottom: 10px;
}